.margin > .l-1 {width:8.3333%;}
.margin > .l-2 {width:16.6666%;}
.margin > .l-2_fix {width:16.6666%;margin:1em 0;padding-right:0em;}
.margin > .l-five {width:20%;}
.margin > .l-3 {width:25%;}
.margin > .l-4 {width:33.3333%;}
.margin > .l-5 {width:41.6666%;}
.margin > .l-6 {width:45.5%;margin:1em 0;}
.margin > .l-6_fix {width:48%;margin:1em 0;padding-right:0em;}
.margin > .l-7 {width:58.3333%;}
.margin > .l-8 {width:70.5%}
.margin > .l-9 {width:75%;}
.margin > .l-10 {width:83.3333%;}
.margin > .l-11 {width:90%;}
.margin > .l-12 {width:100%;}
